@model wiutLMS.ViewModels.ConfirmOperationViewModel

@{
    ViewBag.Title = "Remove course";
    Layout = "_Layout";
}


<div class="container text-left">
    <form asp-controller="Course" asp-action="RemoveCourse">
        <div asp-validation-summary="All" class="text-danger">Are you sure you want to remove this Course and all of it's lectures ?</div>
            <h1>@ViewBag.course.Name</h1>
            <p>@ViewBag.course.Description</p>
            <p>Category : @ViewBag.course.Category</p>
            <p>@ViewBag.course.StartDate.ToLongDateString()  @ViewBag.course.StartDate.ToLongTimeString()</p>
            <p>@ViewBag.course.EndDate.ToLongDateString()  @ViewBag.course.EndDate.ToLongTimeString()</p>
            <p>Author : @ViewBag.course.Teacher.FullName</p>
        
        <input asp-for="Id">
        <input asp-for="Sure">
        <a class="btn btn-primary" asp-controller="Course" asp-action="ShowCourse" asp-route-id="@ViewBag.course.Id">cancel</a>
        <button type="submit" class="btn btn-danger">Remove</button>
    </form>
</div>