@model wiutLMS.Models.Course

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
    int i = 0;
}

<div class="container text-left">
    <h1 class="text-center">@Model.Name</h1>
    <p>@Model.Description</p>
    
    <dl>
        <dt>Start Date :</dt>
        <dd>@($"{Model.StartDate.ToLongDateString()}  {Model.StartDate.ToLongTimeString()}")</dd>
        <dt>End Date :</dt>
        <dd>@($"{Model.EndDate.ToLongDateString()}  {Model.EndDate.ToLongTimeString()}")</dd>
        <dt>Category :</dt>
        <dd>@Model.Category.Name</dd>
        <dt>Teacher :</dt>
        <dd>@Model.Teacher.FullName</dd>
        <dt>Students count :</dt>
        <dd>@Model.StudentCourses.Count</dd>
    </dl>
    <dt>Lectures :</dt>
    <dd>
        @if(ViewBag.IsCheckedOut)
        {
            <div>
                @foreach (var x in Model.Lectures)
                {
                    <a asp-controller="Course" asp-action="ShowLecture" asp-route-id="@x.Id">@x.Title</a>
                    <hr>
                }
            </div>
        }
    </dd>
</div>