@model System.Collections.Generic.List<wiutLMS.Models.StudentCourse>

@{
    ViewBag.Title = "student courses";
    Layout = "_Layout";
}

<div class="text-left container">
    <h2>student courses</h2>
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Teacher</th>
            <th>Start date</th>
            <th>End date</th>
        </tr>
        @foreach(var x in Model)
        {
            <tr>
                <td>@x.Course.Id</td>
                <td><a asp-action="ShowCourse" asp-controller="Course" asp-route-id="@x.CourseId">
                    @x.Course.Name
                </a></td>
                <td>@x.Course.Category.Name</td>
                <td>@x.Course.Teacher.FullName</td>
                <td>@x.Course.StartDate.ToLongDateString()  @x.Course.StartDate.ToLongTimeString()</td>
                <td>@x.Course.EndDate.ToLongDateString()  @x.Course.EndDate.ToLongTimeString()</td>
            </tr>
        }
    </table>
</div>